<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gomla Plus Online</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body onload="CartFunction(),cartLen()">
    <%- include('components/nav') %>
    <div class="container">
      <% for(var i = 0; i < category.length; i++) { %>
      <div class="categories">
        <a href="<%=category[i].name_ar%>">
          <img src="<%=category[i].image%>" alt="<%=category[i].name_ar%>" />
          <h3><%= category[i].name_ar %></h3>
        </a>
      </div>
      <% } %>
      <div id="test"></div>
    </div>
    <script>
      function CartFunction() {
        if (!localStorage.getItem("cart")) {
          localStorage.setItem("cart", "[]");
        }
        if (!localStorage.getItem("disCount")) {
          localStorage.setItem("disCount", "1");
        }

        if (!localStorage.getItem("Token")) {
          localStorage.setItem("Token", "noToken");
        }
        if (!localStorage.getItem("State")) {
          localStorage.setItem("State", "noState");
        }
      }
    </script>
  </body>
</html>
