<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Searched For <%= search %></title>
    <link rel="stylesheet" href="/css/search.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body onload="cartLen()">
    <%- include('../components/nav') %>
    <div class="container">
      <% SearchedProduct.forEach(products => { %>
      <div class="Product">
        <a href="/product/show/<%= products.id %>">
          <img src="<%= products.image %>" alt="<%= products.name_ar %>" />
          <div class="body">
            <p class="price"><%= products.price %> ج</p>
            <p class="name"><%= products.name_ar %></p>
          </div></a
        >
      </div>
      <% }) %>
    </div>
  </body>
</html>
